@model Rockaway.WebApp.Models.SystemStatus

<h1>@Model.Message</h1>
<p>The time is <span id="system-time">@Model.SystemTime?.ToString("O")</span></p>
<p>MachineName: @Model.MachineName</p>
<p>Assembly: @Model.AssemblyLocation</p>
<p>Last modified: @Model.AssemblyLastModified</p>
<hr />
<p>Database: @Model.DatabaseServerStatus</p>
<hr />
<h2>FontAwesome examples:</h2>
<p>
	<i class="fa-solid fa-hand-spock"></i>
	<i class="fa-solid fa-compact-disc"></i>
	<i class="fa-solid fa-guitar"></i>
	<i class="fa-solid fa-otter"></i>
	<i class="fa-solid fa-jedi"></i>
	<i class="fa-solid fa-stroopwafel"></i>
	<i class="fa-solid fa-user-astronaut"></i>
</p>
